@font-face {
    font-family: 'Nimbus Bold';
    src: local('Nimbus Bold'), url(../assets/fonts/NimbusSanL-Bol.otf) format('opentype');
}

@font-face {
    font-family: 'Nimbus';
    src: local('Nimbus'), url(../assets/fonts/NimbusSanL-Reg.otf) format('opentype');
}
